#hero{
    .hero-head{
        padding: 3rem;
        h1{
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 3rem;
            
            @media (max-width : 950px){
              font-size: 2.5rem;
            }
            @media (max-width : 6250px){
              font-size: 1.8rem;
            }
        }
       
    }

    .model-section{
        background-color: #ffffff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.192);
        border-radius: 10px;
        list-style: none;
        text-align: center;
        .col{
            text-transform: uppercase;
            padding: 1.5rem 0rem;
            @media (max-width: 766px){
              padding: 0rem ;
              .list{
                h1{
                  i{
                    font-size: 2rem;
                  }
                }
                p{
                  font-size: .7rem;
                  font-weight: 600;
                }
              }
            }
            @media (max-width: 408px){
             
              .list{
                h1{
                  i{
                    font-size: 1.5rem;
                  }
                }
                p{
                  font-size: .5
                  rem;
                  font-weight: 600;
                }
              }
            }
        }

        .fa{
            color: $secondary-color;
        }

        .active{
            background-color: $primary-color;
            color: #ffffff;
        }

        .model-collaps{
          text-align: center;
            padding: 4rem;
            text-align: left;
            @media(min-width: 360px){
              padding: 1em;
            }
           
            .model-content-head{
                h4{
                    color: $primary-color;
                    font-weight: 700;
                    @media(max-width : 580px){
                      font-size: 1.1em;
                    }
                    @media(max-width : 470px){
                      font-size: .9em;
                    }
                    
                }
                .wrapper{
                    margin: 0 auto;
                    display: flex;
                    height: 100px;
                    width: 80%;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 5px;
                    padding: 20px 15px;
                    
                  }
                  .wrapper .option{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin: 0 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 0 10px;
                    border: 2px solid lightgrey;
                    transition: all 0.3s ease;
                    
                  }
                  .wrapper .option:nth-child(1){
                    border: none;
                  }
                  .wrapper .option .dot{
                    height: 20px;
                    width: 20px;
                    background: #d9d9d9;
                    border-radius: 50%;
                    position: relative;
                  }
                  .wrapper .option .dot::before{
                    position: absolute;
                    content: "";
                    top: 4px;
                    left: 4px;
                    width: 12px;
                    height: 12px;
                    background: $secondary-color;
                    border-radius: 50%;
                    opacity: 0;
                    transform: scale(1.5);
                    transition: all 0.3s ease;
                  }
                  input[type="radio"]{
                    display: none;
                  }
                  #option-1:checked:checked ~ .option-1,
                  #option-2:checked:checked ~ .option-2{
                    background: $secondary-color;
                    border-color: $secondary-color;
                  }
                  #option-1:checked:checked ~ .option-1 .dot,
                  #option-2:checked:checked ~ .option-2 .dot{
                    background: #fff;
                  }
                  #option-1:checked:checked ~ .option-1 .dot::before,
                  #option-2:checked:checked ~ .option-2 .dot::before{
                    opacity: 1;
                    transform: scale(1);
                  }
                  .wrapper .option span{
        
                    color: #808080;
                  }
                  #option-1:checked:checked ~ .option-1 span,
                  #option-2:checked:checked ~ .option-2 span{
                    color: #fff;
                  }

                label{
                    font-weight: 500;
                    text-transform: capitalize;
                    font-size: 1rem;
                }
                input {
                  display: flex;
                  justify-content: center;
                    margin-top: 20px;
                    border:0;
                    outline:0;
                    padding: 1em;
                    text-align: center;
                    width: 30vw;
                    box-shadow:(1px 1px 1px 1px rgba(rgba(0, 0, 0, 0.116), 0.1));
                    border-radius: 10px;
                    outline: none;
                    overflow: hidden;
                    // @media(max-width:768px){
                    //   display: flex;
                    //   flex-direction: column;
                    //   height: 60px;
                    //   width: 200px;
                    //   margin-right: 50px;
                      
                    // }
                }
                a{
                    margin: 50px auto;
                    background-color: $primary-color;
                    display: flex;
                    justify-content: center;
                    color: #ffffff;
                    width: 30vw;
                    padding: 1em;
                    outline: none;
                }

            }

            .bg{
                content: "";
                height: 100%;
                width: 100%;
                background-image: url('../img/insurence.jpg');
                background-repeat: no-repeat;
                background-position: right;
                background-size: cover;
                @media (max-width: 990px){
                  display: none;
                }
            }

           

        }
    }

    
}
