#instruction{
    padding: 3em;
    .instruction-content{
        margin: 10 auto;
       .row{
         .instruction-left{
             .instruction-head{
                 h1{
                     font-weight: 700;
                     color: $primary-color;
                     text-transform: uppercase;
                 }
                
             }
         }  

         .instruction-right{
             img{
                 width: 100%;
                 margin-top: -100px;
                 @media(max-width: 980px){
                     margin-top: 0px;
                 }
             }
         }
       } 
    }
}
.inst-check{
    height: 20px;
}

