#policy-step-section {
  .policy-step {
    padding: 2em 0;
    justify-content: space-around;
    li {
      list-style: none;
      border: 5px solid $primary-color;
      padding: .5em;
      height: 170px;
      width: 170px;
      border-radius: 50%;
      text-align: center;
      position: relative;
      .progress-step {
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.123);
        border-radius: 50%;
        height: 145px;
        width: 145px;
        
        h1 {
          color: $secondary-color;
          font-weight: 700;
        }
      } 
    }
   
    li::after{
        content: "";
          height: 5px;
          width: 100%;
          background-color: $primary-color;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(50%,-50%);
         
    }
    li:last-child::after{
        content: none;
    }
    
  }
}
