#policy-partner{
    padding: 2em;
    background-color: rgba(143, 243, 243, 0.171);
    .p-partner{
        margin: 0 auto;
        .row{
            .policy-left{
                h1{
                    margin-top: 50px;
                    color: $primary-color;
                    text-transform: uppercase;
                    font-weight: 700;
                    @media(max-width:614px){
                        font-size: 1.5em;
                    }
                }
            }

            .policy-right{
                img{
                    margin: 10px;
                    height: 100px;
                    background-color: #ffffff;
                    @media(max-width:1400px){
                        height: 70px;
                    }
                    @media(max-width:916px){
                        height: 50px;
                    }
                    @media(max-width:614px){
                        height: 40px;
                    }
                    @media(max-width:520px){
                        height: 30px;
                    }
                    @media(max-width:430px){
                        height: 20px;
                    }
                }
            }
        }
    }
}