#top{
    background-color: $primary-color;
    color: #ffffff;
    text-align: center;
    padding: .1rem 0;
    p{
        margin-top: .2rem;
        a{
            color: #DFAF2B;
        }
    }
}