#insurance-section{
    padding: 3em;
    background: #4C4B4B;
    .insurance-details{
        display: flex;
        flex: 5;
        justify-content: space-evenly;
        .is-head{
            color: #ffffff;
            h5{
                color: $secondary-color;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
hr{
    background: #ffffff;
    
}
    .footer-section{
        text-align: center;
        color: #ffffff;
        .foot-lay{
            display: flex;
            justify-content: space-around;
            flex: 6;
            padding: 0 10rem;
        }
    }
}